.title {
    text-align: center;
    
}

.main-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 50vw;
}


.single-task {
    width : 100%;
    display: flex;
    justify-content: center;
}